[alias]
	br = "branch"
	ci = "commit"
	co = "checkout"
	lg = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %aN%C(reset)%C(auto)%d%C(reset)' --all"
	mg = "merge"
	st = "status"

[core]
	editor = "emacs -nw"

[gpg]
	format = "openpgp"

[gpg "openpgp"]
	program = "/nix/store/0i1vlhh0ivpjc7dvxz77wr5csr9n9aak-gnupg-2.4.8/bin/gpg"

[init]
	defaultBranch = "master"

[pull]
	rebase = true

[signing]
	key = "85AABA1FC9EC2A0A"
	signByDefault = true

[user]
	email = "74156492+spacefault@users.noreply.github.com"
	name = "spacefault"
