# ignore
htop/.config/htop/htop_history
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/eln-cache/
emacs/.emacs.d/elpa/
emacs/.emacs.d/intelephense/
emacs/.emacs.d/lsp-cache/
emacs/.emacs.d/racket-mode/
emacs/.emacs.d/transient/
emacs/.emacs.d/url/
emacs/.emacs.d/.lsp-session-v1
#emacs/.emacs.d/custom.el
emacs/.emacs.d/tramp
emacs/.emacs.d/org-roam.db
emacs/.emacs.d/games/
emacs/.emacs.d/history
emacs/.emacs.d/places
emacs/.emacs.d/recentf

# system files
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

